	ul.pagination li.details{
	   color:black;
	
	}
    
    ul.pagination li a
	{
		border-radius:3px;	
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		padding:6px 9px 6px 9px;
	}

	ul.pagination li a
	{
        color: #000;
		background:dodgerblue;
			
	}	
	
	ul.pagination li a:hover,
	ul.pagination li a.current
	{
		color:#000;
		background:dodgerblue;
	}